Source: ecoach
Section: user/other
Priority: extra
Maintainer: Jukka Alasalmi <jualasal@mail.student.oulu.fi>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: ecoach
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: eCoach application
 eCoach is an application that helps managing sports and exercise.
 It uses GPS data and data from Alive Technologies Heart Rate Monitor.
